/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* header responsive start */
    .header_text p {
        text-align: center;
    }

    .header_icon {
        display: none;
    }

    /* header responsive end */

    /* navigation responsive start */
    .navbar-nav .nav-item .nav-link {
        text-align: center;
    }

    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-collapse {
        transition: all linear .3s;
    }

    /* navigation responsive end */

    /* hero responsive start */
    .hero_area_content {
        text-align: center;
    }

    /* hero responsive end */

    /* about responsive start */
    .about_img {
        margin-top: 30px;
    }

    .about_heading h4::after {
        left: 33.8%;
    }

    .about_heading h4 span::before {

        left: 52.9%;
    }

    .about_heading h4 span::after {

        left: 51.6%;
    }

    .about_text {
        text-align: center;
    }

    /* about responsive end */

    /* service responsive start */
    .service_heading h4::after {
        left: 27%;
    }

    .service_heading h4::before {
        left: 43.4%;
    }

    .service_heading h4 span::before {
        left: 46.1%;
    }

    .service_heading h4 span::after {
        left: 44.8%;
    }

    .service_card {
        margin-top: 50px;
    }

    /* service responsive end */

    /* portfolio responsive start */
    .portfolio_heading h4::after {
        left: 24.4%;
    }

    .portfolio_heading h4::before {
        left: 41.1%;
    }

    .portfolio_heading h4 span::after {
        left: 42.5%;
    }

    .portfolio_heading h4 span::before {
        left: 43.5%;
    }

    .m_bot_30 {
        margin-bottom: 30px;
    }

    /* portfolio responsive end */

    /* team responsive start */
    .team_heading h4::after {
        left: 33.8%;
    }

    .team_heading h4 span::before {
        left: 52.9%;
    }

    .team_heading h4 span::after {
        left: 51.6%;
    }

    .team_content p {
        margin-bottom: 30px;
    }

    /* team responsive end */

    /* testimonial responsive start */
    .testimonial_heading h4::after {
        left: 21.5%;
    }

    .testimonial_heading h4::before {
        left: 38%;
    }

    .testimonial_heading h4 span::after {
        left: 39.3%;
    }

    .testimonial_heading h4 span::before {
        left: 40.6%;
    }

    .testimonial_card_content {
        margin-bottom: 30px;
    }

    /* testimonial responsive end */

    /* footer responsive start */
    .footer_intro {
        text-align: center;
    }

    .footer_heading h4 {
        text-align: center;
    }

    .footer_menu {
        text-align: center;
    }

    /* footer responsive end */

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* header responsive start */
    /* header responsive end */

    /* navigation responsive start */
    .navbar-nav .nav-item .nav-link {
        text-align: center;
    }

    .navbar-nav {
        margin-top: 12px;
    }

    .navbar-collapse {
        transition: all linear .3s;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
    }

    /* navigation responsive end */

    /* hero responsive start */
    .hero_area_content {
        text-align: center;
    }

    /* hero responsive end */

    /* about responsive start */
    .about_img {
        margin-top: 30px;
    }

    .about_heading h4::after {
        left: 40.8%;
    }

    .about_heading h4 span::after {
        left: 50.9%;
    }

    .about_heading h4 span::before {
        left: 51.5%;
    }

    .about_text {
        text-align: center;
    }

    /* about responsive end */

    /* service responsive start */
    .service_heading h4::after {
        left: 37%;
    }

    .service_heading h4::before {
        left: 46.4%;
    }

    .service_heading h4 span::after {
        left: 47.3%;
    }

    .service_heading h4 span::before {
        left: 47.9%;
    }

    .service_card {
        margin-top: 50px;
    }

    /* service responsive end */

    /* portfolio responsive start */
    .portfolio_heading h4::after {
        left: 35.4%;
    }

    .portfolio_heading h4::before {
        left: 44.9%;
    }

    .portfolio_heading h4 span::after {
        left: 45.6%;
    }

    .portfolio_heading h4 span::before {
        left: 46.2%;
    }

    .m_bot_30 {
        margin-bottom: 30px;
    }

    /* portfolio responsive end */

    /* team responsive start */
    .team_heading h4::after {
        left: 40.8%;
    }

    .team_heading h4::before {
        left: 50.1%;
    }

    .team_heading h4 span::before {
        left: 51.5%;
    }

    .team_heading h4 span::after {
        left: 51.0%;
    }

    .team_content p {
        margin-bottom: 30px;
    }

    /* team responsive end */

    /* testimonial responsive start */
    /* testimonial responsive end */

    /* footer responsive start */
    /* footer responsive end */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* header responsive start */
    /* header responsive end */

    /* navigation responsive start */
    /* navigation responsive end */

    /* hero responsive start */
    /* hero responsive end */

    /* about responsive start */
    /* about responsive end */

    /* service responsive start */
    /* service responsive end */

    /* portfolio responsive start */
    /* portfolio responsive end */

    /* team responsive start */
    /* team responsive end */

    /* testimonial responsive start */
    /* testimonial responsive end */

    /* footer responsive start */
    /* footer responsive end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* header responsive start */
    /* header responsive end */

    /* navigation responsive start */
    /* navigation responsive end */

    /* hero responsive start */
    /* hero responsive end */

    /* about responsive start */
    /* about responsive end */

    /* service responsive start */
    /* service responsive end */

    /* portfolio responsive start */
    /* portfolio responsive end */

    /* team responsive start */
    /* team responsive end */

    /* testimonial responsive start */
    /* testimonial responsive end */

    /* footer responsive start */
    /* footer responsive end */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* header responsive start */
    /* header responsive end */

    /* navigation responsive start */
    /* navigation responsive end */

    /* hero responsive start */
    /* hero responsive end */

    /* about responsive start */
    /* about responsive end */

    /* service responsive start */
    /* service responsive end */

    /* portfolio responsive start */
    /* portfolio responsive end */

    /* team responsive start */
    /* team responsive end */

    /* testimonial responsive start */
    /* testimonial responsive end */

    /* footer responsive start */
    /* footer responsive end */
}